@using SecondAspMvc6project.Models;
@model SecondAspMvc6project.Models.Student;


@{



    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> controller to controller object .</p>
<h3> RedirectToAction Action NAme ,Controller Name then Object</h3>
<div>
    <h1> This Direct View </h1>
    <h3>  @Model.id</h3>
    <h3>  @Model.name</h3>
    <h3>  @Model.subject</h3>;
</div>
  


