
@{
    ViewData["Title"] = "stdDeligation";
}

<h2>stdDeligation</h2>

<h3>@ViewBag.Id</h3>
<h3>@ViewBag.Roll</h3>

@*<h3> @ViewBag.poto</h3>*@
in view use <img src="@ViewBag.foto" /> to see the image
@*<img src="@Url.Content(ViewBag.poto)" width="200" height="200" />*@